<button class="primary" onclick="addProdToCart()">Add to cart</button>

<script src="/statics/scripts/utils.js" async></script>
<script>
  function addProdToCart() {
    const email = $('#email').val()
    const password = $('#password').val()
    const remember = $('#remember').is(':checked')

    fetchApi('/api/cart', {
      params: { 
        productId: '<%= product._id %>',
        quantity: 1, 
        _csrf: '<%= csrfToken %>'
      },
      success: function (data) {
        window.location.replace('/cart')
      }
    })
  }
</script>