      <footer>
        <%= PREFERENCES.footerMessage %>
      </footer>
      <style>
        footer {
          padding: 60px 0 30px 0;
          font-size: x-small;
        }
      </style>
    </div>
  </body>
</html>