<div class="validatable-input <%= name %>">
  <div class="secondlyInputInner">
    <label for="<%= name %>"><%= label %>:</label>
    <input type="text" id="<%= name %>">
  </div>
  <div class="secondlyErrorMessage"></div>
</div>