<%- include('../partials/store-head.ejs') %>
<h1>Failed order!</h1>
<p>
  You weren't charged.
  If you have any questions, please email <a href="mailto:buy@secondly.store">buy@secondly.store</a>.
</p>
<%- include('../partials/store-tail.ejs') %>