<%- include('../partials/store-head.ejs') %>
<h1>Thanks for your order!</h1>
<p>
  We appreciate your business!
  If you have any questions, please email <a href="mailto:buy@secondly.store">buy@secondly.store</a>.
</p>
<%- include('../partials/store-tail.ejs') %>