<%- include('../partials/store-head.ejs') %>
<h1>Reset Password</h1>
<div class="errorMessage"></div>
<p>We will send you an email with a password reset link.</p>
<%- include('../partials/validatable-input.ejs', { label: 'Email' }) %> 
<button class="primary" onclick="requestPasswordReset()">Send Email</button>

<script src="/scripts/utils.js" async></script>
<script>
  function requestPasswordReset() {
    const email = $('#email').val()

    fetchApi('/api/account/request-password-reset', {
      params: { 
        email,
        _csrf: '<%= csrfToken %>'
      },
      success: function (data) {
        alert('An email is on its way. Follow the link to reset the password.')
      }
    })
  }

  $('.validatable-input input').keydown(event => {
    $(event.target).parent().parent().removeClass('error')
  })

  $('.validatable-input input').on('keypress', event => {
    if(event.which == 13) requestPasswordReset()
  })
</script>
<%- include('../partials/store-tail.ejs') %>