<%- include('../partials/store-head.ejs') %>
<h2>Reset Password</h2>
<% if (locals.errorMessages && locals.errorMessages.length > 0) { %>
  <div class="errorMessage"><%= errorMessages[0] %></div>
<% } %>
<p>We will send you an email with a reset link.</p>
<form action="/request-password-reset" method="post">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <div class="secondlyInput">
    <label for="email">Email:</label>
    <input type="email" name="email" id="email">
  </div>
  <button class="primary" type="submit">Send Email</button>
</form>
<%- include('../partials/store-tail.ejs') %>