<div>
  <div class="store__product-item">
    <a href="/products/<%= product.handle %>">
      <div class="store__product-item__image-container">
        <div class="store__product-item__image" <%- product.images?.length > 0? `style="background-image: url('${product.images[0].src}');"` : '' %>></div>
        <div class="store__product-item__price">$ <%= product.price %></div>
      </div>
    </a>
  </div>
  <div class="store__product-item__title"><%= product.title %></div>
</div>

<style>
  .store__product-item {
    box-shadow: 0 0.9px 2.2px rgba(0,0,0,.02), 0 2.2px 5.3px rgba(0,0,0,.028), 0 4.1px 10px rgba(0,0,0,.035), 0 7.4px 17.9px rgba(0,0,0,.042), 0 13.8px 33.4px rgba(0,0,0,.05), 0 33px 80px rgba(0,0,0,.07);
    font-family: 'Alata', sans-serif;
    border-radius: 4px;
    overflow: hidden;
  }
  .store__product-item__image-container {
    width: 100%;
    overflow: hidden;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
    display: flex;
    border-radius: 3px;
  }
  
  .store__product-item__image {
    width: 100%;
    padding-bottom: calc(100% / 1);
    background-color: #e3e3e3;
    background-size: cover;
    background-position: center;
    background-size: cover;
    transition: all 1s;
  }

  .store__product-item__image-container:hover .store__product-item__image  {
      transform: scale(1.05);
  }

  .store__product-item__title {
    font-size: medium;
    font-weight: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 10px 0px 20px 0px;
    margin-bottom: 25px;
  }

  .store__product-item__price {
    position: absolute;
    flex-shrink: 0;
    bottom: 12px;
    right: 12px;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: white;
    display: inline-block;
  }

</style>